# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php
.htaccess
.htaccess-1524510519


# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private
